<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.a9ski.archetypes"/>
        <listEntry value="archetypeArtifactId=quick-start"/>
        <listEntry value="archetypeVersion=1.4.0"/>
        <listEntry value="groupId=Project_POM_YATRA"/>
        <listEntry value="artifactId=Project_POM_yatra"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Project_POM_YATRA.Project_POM_yatra"/>
        <listEntry value="outputDirectory=C:\Users\roohi\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\roohi\AppData\Local\Temp\m2e-archetypeGenerator11105638000032011231"/>
</launchConfiguration>
